<!DOCTYPE html>
<html lang="vi">
<head>
  <meta charset="UTF-8">
  <title><%= title || "Ứng dụng học tiếng Nhật" %></title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <!-- Thư viện chuyển Markdown -> HTML -->
<script src="https://cdn.jsdelivr.net/npm/showdown@2.1.0/dist/showdown.min.js"></script>
<!-- thêm 1 lần trong layout hoặc trang -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>


  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  
        
        </ul>
      </div>
    </div>
  
  <main>
